.navbar{

    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0vh;
    z-index: 10;
    background-color: #0C2B4E !important;
    color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.nav-options{
    display: flex;
    gap: 20px;
}

.nav-options p{
    margin: 0;
  color: #F4F4F4;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}




@media screen and (min-width:320px) and (max-width:540px) {
    .nav-options {
        gap:8px;
    }
}